* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: "poppins", sans-serif;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divArray {
    width: fit-content;
    text-align: center;
    display: inline-block;
    white-space: pre; /*preserve*/
    font-size: 30px;
    color: #4a4a4a;
}

.divArray.correct-key {
    border-radius: 5px;
    color: #95c590;
    background-color: #edf7e7;
}

.divArray.incorrect-key {
    border-radius: 5px;
    color: #d55b60;
    background-color: #ffdcd9;
}

.nav-bar {
    height: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7fc8f8;
}

.nav-bar h2 {
    color: #fff;
    font-size: 1.5em;
}

.container {
    white-space: wrap;
    background-color: #fff;
    width: 75%;
    padding: 2em;
}

.container p {
    font-size: 25px;
    text-align: center;
    align-content: center;
    margin: 10px;
}

#progress {
  width: 100%;
  background-color: #ddd;
}

#bar {
  width: 0%;
  height: 30px;
  background-color: #63d7ba;
}